* {
    margin: 0;
    padding: 0;
}

:root {
    --cor--fontePrincipal: #f6f6f6;
    --cor--cabecalho:#659287 ;
    --cor--fundo: #1B4242;
    --cor--texto: #000000;
    --cor--fundo2: #EDDFB3;
    --cor--container: #D9D9D9;
    --principal--fonte: "Italiana", sans-serif;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
    background-color: var(--cor--cabecalho);
}

#logo {
    margin-left: 1em;
    width: 2.5em;
    height: 2.5em;
}

.page {
    display: flex;
    gap: 1.5em;
    margin-right: 1em;  
}

#pages {
    text-decoration: none;
    font-family: italiana, sans-serif;
    color: var(--cor--fontePrincipal);
    font-weight: bolder;
}

#pages:hover{
    color: var(--cor--fundo2);
    text-shadow: 0px 0px 5px var(--cor--fundo2);
    -moz-animation-name: var(--cor--fontePrincipal);
    cursor: pointer;
}

#nomeEmpresa {
    display: flex;
    background-image: url(../image/Linkedin\ banner\ simples\ preto\ e\ branc.png);
    background-repeat: no-repeat;
    padding: 1.5em 0em 2.2em 0em;
    font-family: var(--principal--fonte);
    color: var(--cor--fundo);
    font-size: 4.5em;
    justify-content: center;
}

.container__main__1 {
    background: var(--cor--fundo);
}

#slogan {
    display: flex;
    justify-content: center;
    padding: 2.4em 0em;
    font-family: var(--principal--fonte);
    font-size: 2.4em;
    color: var(--cor--fontePrincipal);
}

.container__history {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0em 6em;
    margin-bottom: 3em;
    gap: 6em;
}

#text__history {
    font-family: var(--principal--fonte);
    font-size: 1.4em;
    font-weight: 600;
    padding: 0.8em;
    background-color: var(--cor--container);
    border-radius: 25px;
}

.container__history__second {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4em;
    margin: 0em 6em;
    padding: 0em 0em 3em 0em;
}

#text__history__second {
    font-family: var(--principal--fonte);
    font-size: 1.2em;
    font-weight: 600;
    padding: 0.8em;
    background-color: var(--cor--container);
    border-radius: 25px;
}

img {
    max-width: 100%;
    height: 50%;
}

.rodape {
    display: flex;
    align-items: center;
    padding: 0.5em;
    justify-content: center;
    background-color: var(--cor--cabecalho);
}

.link {
    display: flex;
    gap: 6em;
}

#links {
    text-decoration: none;
    font-family: var(--principal--fonte);
    color: var(--cor--fontePrincipal);
    font-weight: bolder;
}

#links:hover{
    color: var(--cor--fundo2);
    text-shadow: 0px 0px 5px var(--cor--fundo2);
    -moz-animation-name: var(--cor--fontePrincipal);
    cursor: pointer;
}

.container__main__2 {
    background: var(--cor--fundo);
}

.feedback__1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8em;
    margin: 0em 8em;
    padding: 0em 0em 3em 0em;
}

#text__feedbacks {
    font-family: var(--principal--fonte);
    font-size: 1.2em;
    font-weight: 600;
    padding: 0.8em;
    background-color: var(--cor--container);
    border-radius: 25px;
}

#image__feedbacks {
    width: 20em;
    height: 12em
}

.container__main__3 {
    background: var(--cor--fundo2);
}

#slogan__1 {
    display: flex;
    justify-content: center;
    padding: 2.4em 0em;
    font-family: var(--principal--fonte);
    font-size: 2.4em;
    color: var(--cor--fundo);
}

#text__inicio {
    margin: 0em 6em;
    font-family: var(--cor--fundo);
    font-size: 1.2em;
    font-weight: 600;
    padding: 0.8em 0em 4em 0em;
}

.trabalhos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    margin: 0em 6em;
    padding: 0em 0em 3em 0em;
}

#text__servico {
    list-style: none;
    font-family: var(--cor--fundo);
    font-size: 1.2em;
    font-weight: 600;
    padding: 0.8em;
    border-bottom: 3px solid var(--cor--fundo);
}

#text__servicos {
    list-style: none;
    font-family: var(--cor--fundo);
    font-size: 1.2em;
    font-weight: 600;
    padding: 0.8em;
}

.image__works {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

#image__works {
    width: 10em;
    height: 14em;
}


.text__contato {
    font-family: var(--cor--fundo);
    font-size: 1.6em;
    font-weight: 600;
    padding:  2em;
    margin: 0em 6em;
    background-color: var(--cor--container);
    border-radius: 25px;
}

#contato {
    list-style: none;
}

.comfoto {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.espaço {
    padding: 2em;
}
